<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Next">Add Event and Deets</a>
</p>
<ul>
    @foreach (KeyValuePair<string, string> NewEvent in ViewBag.events)
    {
        <li>@NewEvent</li>
    }
</ul>